.Sidebar{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 150px;
}
.SidebarElementsCotianer{
    display: flex;
    flex-direction: column;
}
.SidebarElement{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border: 1px solid green;
    margin: 5px;
}